* {
    margin:0;
    padding:0;
}


@font-face {
    font-family: "Harry";
    src: url("./HARRYP__.TTF");
}


header {
    grid-area: Inicio;
    text-align: center;
    
    h1 {
        color: darkgoldenrod;
        font-family: "Harry";
        font-size: 100px;
        &:hover{
            color: firebrick;
        }
    }

    h2 {
      font-size: 20px; 
    }

    P{
        font-size: medium;
        font-style: normal;
        color: white;

    }
}


th {
font-weight:bolder;
font-size:20px;

}

#titgryff{
    color: firebrick;
}

#titsly{
    color: green;
}

#tithuff{
    color: darkgoldenrod;
}

#titrav{
    color: navy;
}

body {
    background-color: rgb(39, 38, 38)
    
}
    
#contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-areas: 
    "nav nav"
    "Inicio Inicio"
    "footer footer";
}

nav{
    grid-area: nav;

}


footer{
    grid-area: footer;
}

#always {
    text-align: center
}